<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title th:text="'员工' + ${employee.name}">查看员工</title>
</head>
<body>
	<h1 layout:fragment="header" th:text="'员工' + ${employee.name}">查看员工</h1>
	<div layout:fragment="content" class="container">
		<div class="pull-right">
			<a th:href="@{/employees/}" href="list.html"> 员工列表 </a>
		</div>
		
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<td>ID</td>
					<td>姓名</td>
					<td>角色</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${employee.id}">123</td>
					<td th:text="${employee.name}">name</td>
					<td th:text="${employee.role.name}">role</td>
				</tr>
			</tbody>
		</table>
		
		<div class="pull-left">
			<a th:href="@{'/vacation/request/' + ${employee.id}}" href="employees"> 申请请假 </a>
		</div>
		
		<br/><br/>
		我的申请列表
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<td>ID</td>
					<td>流程阶段</td>
					<td>创建时间</td>
					<td>Description</td>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${employee.requests.empty}">
					<td colspan="4">No messages</td>
				</tr>
				<tr th:each="dto : ${employee.requests}">
					<td th:text="${dto.id}">1</td>
					<td><a href="view.html" th:href="@{'/vacation/request/' + ${dto.id}}" th:text="${dto.name}"> The name </a></td>
					<td th:text="${dto.createTime}">Time</td>
					<td th:text="${dto.desc}">Desc</td>
				</tr>
			</tbody>
		</table>
		
		<br/><br/>
		需要审批列表
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<td>ID</td>
					<td>流程阶段</td>
					<td>创建时间</td>
					<td>Description</td>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${employee.dtos.empty}">
					<td colspan="4">No messages</td>
				</tr>
				<tr th:each="dto : ${employee.dtos}">
					<td th:text="${dto.id}">1</td>
					<td><a href="view.html" th:href="@{'/vacation/request/' + ${dto.id}}" th:text="${dto.name}"> The name </a></td>
					<td th:text="${dto.createTime}">Time</td>
					<td th:text="${dto.desc}">Desc</td>
					<td><a href="view.html" th:href="@{'/vacation/request/agree/' + ${dto.id}} + '/' + ${employee.id}">同意</a> | <a href="view.html" th:href="@{'/vacation/request/deny/' + ${dto.id} + '/' + ${employee.id}}">拒绝</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
