<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>员工列表</title>
</head>
<body>
	<h1 layout:fragment="header">员工列表</h1>
	<div layout:fragment="content" class="container">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<td>ID</td>
					<td>姓名</td>
					<td>角色</td>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${employees.empty}">
					<td colspan="3">No messages</td>
				</tr>
				<tr th:each="employee : ${employees}">
					<td th:text="${employee.id}">1</td>
					<td><a href="view.html" th:href="@{'/employees/' + ${employee.id}}" th:text="${employee.name}"> The name </a></td>
					<td th:text="${employee.role.name}">the role</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
